.footer {
  background-color: #fcf5e5;
  font-style: normal;
  margin: auto;
}

.footer__content {
  display: flex;
  justify-content: space-around;
}

.footer__copyright {
  margin: 60px auto;
  line-height: 100%;
  color: #212121;
  opacity: 70%;
  align-items: center;
}
